*{
    background-color: #737373;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Parte-de-cima{
    background-color: #0a4b73;
     width: 100%;
     height: 200px;
}