@font-face {
  font-family: "Treuchet";
  src: url("./fonts/trebuc.ttf");
}
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #0a4b73;
  font-family: "Treuchet", sans-serif;
  color: #737373;
}

header,
main,
footer {
  background-color: #3bacd9;
  margin-top: 50px;
}

header {
  height: 230px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#logos {
  width: 430px;
  height: 180px;
  background-color: white;
}
#logos > img {
  width: 60%;
}
#menu {
  width: 730px;
  height: 85px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
#menu > li {
  list-style: none;
  font-size: 30px;
  /*Line  height precisa ter o mesmo tamanho do height do pai*/
  line-height: 85px;
  padding: 0px 10px;
}

#menu > li:hover {
  background-color: #0a4b73;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

main {
  height: 840px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#video,
#redes,
#Login,
#apoio {
  background-color: white;
}
#geral {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

#video {
  height: 495px;
  width: 45%;
  text-align: center;
}
#video > iframe {
  margin-top: 20px;
}
#lado-direito {
  height: 495px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#redes {
  height: 35%;
  text-align: center;
}
#Login {
  height: 64%;
  text-align: center;
}
#Login > p {
  text-align: center;
}

a {
  color: #3bacd9;
}
button {
  background-color: #4fce2d;
  width: 20%;
  height: 40px;
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
}
button:active {
  background-color: #2484bf;
}
#Login > button {
  text-align: center;
}
#apoio {
  height: 190px;
  width: 95%;
  text-align: center;
}

.opcoes{
  width: 70%;
  height: 40px;
  background-color: #2484bf;
  color: white;
  text-align: center;
  border: none;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#mais {
  display: flex;
  justify-content: space-around;
}
.opcoes::placeholder {
  text-align: center;
  color: white;
}

#apoio > img {
  margin-top: -40px;
}

footer {
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.item {
  background-color: white;
  height: 440px;
  width: 440px;
}
h1 {
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  margin: 10px 0px;
}
.item > p {
  width: 90%;
  margin: auto;
  font-size: 20px;
  text-align: justify;
  margin: 20px;
}
.item > p > img {
  width: 50%;
  margin-top: 20px;
}
.item > h2 {
  text-align: start;
  margin: 20px;
  font-weight: 400;
}

#geral2{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.cards{
  height: 320px;
  width: 390px;
  background-color: white;
}
.cards > ul{
  width: 80%;
  margin: auto;

}
#Texto{
  height: 320px;
  width: 390px;
}
#geral > li{
  height: 20px;
}